#root,
body {
  background-color: #404fed;
  width: 100%;
  margin: 0;
}

body {
  overflow-y: hidden;
}
img {
  height: 30px;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  padding-left: 95px;
  font-size: 90px;
  margin-top: 100px;
  margin-bottom: 50px;
}
p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.App {
  overflow-y: hidden;
}
.Navbar {
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainText {
  width: 600px;
  line-height: 80px;
}

.subText {
  width: 650px;
}
.subText p {
  font-size: 20px;
  padding-left: 95px;
}

button {
  margin-left: 95px;
  margin-bottom: 30px;
  /*   height: 80px; */
  border: none;
  border-radius: 100px;
  text-align: center;
  padding: 20px 40px 20px 40px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.downloadBtn {
  font-size: 18px;
  color: #404fed;
}

.openDiscordBtn {
  font-size: 18px;
  color: white;
  background-color: rgb(39, 39, 39);
}

.buttonContainer img {
  height: 550px;
}

.downloadBtn {
  width: 300px;
}
